@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3 text-uppercase text-primary">Welcome, this is my <small class="text-muted">customized</small> heading.</h1>
    <p>The current time is: @ViewData["TimeStamp"].</p>
</div>
